{% extends "main.html" %}
{% load static %}
{% block container %}
    <div class="media">
        <img class="mr-3" src="../img/Customer/jhotpot.PNG" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0">About Heading</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam architecto commodi culpa, earum
                fuga ipsum itaque nam odio, officiis perferendis porro possimus praesentium quae quaerat velit
                voluptates?
                Minima, nam?</p>
        </div>
    </div>
{% endblock %}

